<% provide(:configpage, 'btn-large') %>

<div class="row-fluid">
	<div class="bkgrd span4">
		<%= render 'sysconfigs/suts_list' %>
	</div>

	<div class="bkgrd span8">
		<%= render 'sysconfigs/sysconfigs_list' %>
	</div>
</div>
