<% provide(:taskpage, 'btn-large') %>


<div class="row-fluid">
	<div class="bkgrd span3">
		<%= render 'tasks/task_list' %>
	</div>
	
	<div class="bkgrd span9">
		<%= render 'tasks/detail_list' %>
	</div>
</div>



