<% provide(:devicepage, 'btn-large') %>

<div class="row">
	<div class="bkgrd span12">
		<%= render 'devices/header_list' %>
	</div>
</div>

<div id="allcontent" class="row-fluid">
	<div id="leftcontent" class="bkgrd span4">
		<%= render 'devices/devicetypes_list' %>
	</div>

	<div id="rightcontent" class="bkgrd span8">
		<%= render 'devices/devices_list' %>
	</div>
</div>
