<div class="row">
	<div class="bkgrd span12">
		<%= render 'devices/header_list' %>
	</div>
</div>

<div class="row-fluid">
	<div class="bkgrd span4">
		<%= render 'devices/devicetypes_list' %>
	</div>

	<div class="bkgrd span8">
		<%= render 'devices/devices_list' %>
	</div>
</div>
