<% provide(:devicepage, 'btn-large') %>

<div id="allcontent" class="row-fluid">
	<div id="leftcontent" class="bkgrd span3">
		<%= render 'devices/devicetypes_list' %>
	</div>

	<div id="rightcontent" class="bkgrd span9">
		<%= render 'devices/devices_list' %>
	</div>
</div>
