<h2>My SUTs</h2><hr>

<%= form_tag controller: "executions", action: "selectsut" do %>
	<%= hidden_field_tag(:selecttype, @selecttype) %>

	<% if @sutlist != nil then if @sutlist.count != 0 then %>
		<% @sutlist.each do |t| %>
			<div class="row">
				<%= radio_button_tag "selectsut", t.id, if @selectsut.to_i == t.id then true else false end, onchange: "this.form.submit();", class: "span3"  %>
				<%= t.system.name + "-" + t.name + " (" + t.spip + ")" %>
			</div>
		<% end %>
	<% else %>
		<div class="alarmtext center">You do not have any SUTs<br>Ask lead to assign one</div>
	<% end %>
	<% else %>
		<div class="alarmtext center">You do not have any SUTs<br>Ask lead to assign one</div>
	<% end %>

<% end %>
