
<div class="row ">
<h3 class="offset1">Update Testcase Execution</h3>
<hr>
  <div class="span6 offset1 editpage">
    <%= form_for(@execution) do |f| %>
	  
	  <%= f.label "CR number / Explaination:" %>
      <%= f.text_field :bug %>
	  
      <%= f.submit "Save", class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>