<% provide(:executionpage, 'btn-large') %>
<div class="row">
	<div class="bkgrd span12">
		<%= render 'executions/header_list' %>
	</div>
</div>

<div class="row-fluid">
	<div class="bkgrd span4">
		<%= render 'executions/suts_list' %>
	</div>

	<div class="bkgrd span8">
		<%= render 'executions/testcases_list' %>
	</div>
</div>
