<div class="center hero-unit">
  <h1>Welcome to ANTON</h1>

  <h2>No matter who you are and what you do.</h2>
  <h2>Manager? Lead? Engineer?</h2>
  <h2>Check schedual and coverage? Design test plan? Run test cases?
  <h2>Anton will always save you from the mess.</h2>

</div>

