<% provide(:achivepage, 'btn-large') %>

<div id="allcontent" class="row-fluid">
	<div id="leftcontent" class="bkgrd span3">
		<%= render 'achivements/weeks_list' %>
	</div>

	<div id="rightcontent" class="bkgrd span9">
		<%= render 'achivements/engineer' %>
	</div>
</div>
