<% provide(:achivepage, 'btn-large') %>
<div class="row">
	<div class="bkgrd span12">
		<%= render 'achivements/header_list' %>
	</div>

	<div class="bkgrd span12">
		<% if current_user.lead? then %>
			<%= render 'achivements/lead' %>
		<% else %>
			<%= render 'achivements/engineer' %>
		<% end %>
	</div>
</div>
