<div class="row">
	<div class="bkgrd span12">
		<%= render 'testcases/header_list' %>
	</div>
</div>

<div class="row-fluid">
	<div class="bkgrd span4">
		<%= render 'testcases/casetypes_list' %>
	</div>

	<div class="bkgrd span8">
		<%= render 'testcases/testcases_list' %>
	</div>
</div>
