<% provide(:testcasepage, 'btn-large') %>

<div class="row-fluid">
	<div class="bkgrd span3">
		<%= render 'testcases/casetypes_list' %>
	</div>

	<div class="bkgrd span9">
		<%= render 'testcases/testcases_list' %>
	</div>
</div>
