<div class="row ">
<h3 class="offset1">Testcase Info</h3>
<hr>
<ul>
	<li>Testcase Name: <%= @testcase.name %></li>
	<li>Testcase Category: <%= @testcase.casecate %></li>
	<li>Testcase Running On: <%= @testcase.casetype.name %></li>
	<li>Steps: <%= @testcase.steps %></li>
</ul>
