<h2>Condition</h2><hr>

<div class="span">
	<%= form_tag controller: "searches", action: "search" do |t| %>
		<%= hidden_field_tag(:devicecate, @selectcate) %>
		<div><%= select_tag 'searchobject', options_from_collection_for_select( @devices, :id, :longname, @searchobject.id), :class => "textsize6" %></div>
		<div><%= submit_tag "Search" , :class => "submit btn btn-primary btn-danger" %></div>
	<% end %>
</div>
