<% provide(:searchpage, 'btn-large') %>


<div id="allcontent" class="row-fluid">
	<div id="leftcontent" class="bkgrd span3">
		<%= render 'searches/device_list' %>
	</div>

	<div id="rightcontent" class="bkgrd span9">
		<%= render 'searches/result_list' %>
	</div>
</div>
