<% provide(:systempage, 'btn-large') %>

<div id="allcontent" class="row-fluid">
	<div class="bkgrd span3">
		<%= render 'systems/servers_list' %>
	</div>

	<div class="bkgrd span9">
		<%= render 'systems/devices_list' %>
	</div>
</div>
