.mainframe {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.bkgrd {
  margin-top: 10px;
  padding-top: 10px;
  background-color: WhiteSmoke;
}

.newpost {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: WhiteSmoke;
  border: 1px solid;
  color: #999;
}

.weeklystatus {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: WhiteSmoke;
  border: 1px solid;
  color: #999;
}

.showmoreinfo {
  display:none;
  position:absolute;
  border-style: solid;
  background-color: white;
  padding: 5px;
}

.alarmtext {
	color: Red;
	margin: 10px;
}

.editpage {
	height: 160px;
	width: 300px;
}

.toright {
	float: right;
}

.toleft {
	float: left;
}

.textsize1 {
	width: 30px;
}
.textsize2 {
	width: 40px;
}
.textsize3 {
	width: 60px;
}
.textsize4 {
	width: 80px;
}

.textsize8 {
	width: 160px;
}

.textsize12 {
	width: 240px
}

.textsize16 {
	width: 320px
}

.textsize24 {
	width: 480px;
}

.textsize26 {
	width: 520px;
}

.alarmtext {
	color: Red;
}