
.bkgrd {
  margin-top: 10px;
  padding-top: 20px;
  background-color: WhiteSmoke;
}

.toright {
	float: right;
}
.textsize1 {
	width: 30px
}
.textsize2 {
	width: 40px
}

.textsize4 {
	width: 80px
}

.textsize8 {
	width: 160px
}

.textsize24 {
	width: 480px
}

.textsize26 {
	width: 520px
}